In [4]:
import numpy as np
import pandas as pd
import holidays

In [3]:
familia = {
    'Nome': ['Pauline', 'Fabiane', 'Paulo', 'Suki'],
    'Idade': [10, 45, 45, 2],
    'Comida': ['hamburguer', 'pizza', 'lasanha', 'ovo']
}
familia_df = pd.DataFrame(familia)

print(familia_df)
print('\n')

familia_df2 = familia_df.assign(Musica = ['K-pop', 'MPB', 'Rock', 'clássica'])

familia_df2.loc[familia_df2['Nome'] == 'Paulo', 'Nome'] = 'Paulo Fagner'#familia_df2.loc[familia_df2['Nome'] == 'Paulo', 'Comida']

print(familia_df2)

result = familia_df2.loc[familia_df2['Nome'] == 'Pauline', 'Idade'].values[0]

print("\n")
print(type(result))
print('idade:', result)

      Nome  Idade      Comida
0  Pauline     10  hamburguer
1  Fabiane     45       pizza
2    Paulo     45     lasanha
3     Suki      2         ovo


           Nome  Idade      Comida    Musica
0       Pauline     10  hamburguer     K-pop
1       Fabiane     45       pizza       MPB
2  Paulo Fagner     45     lasanha      Rock
3          Suki      2         ovo  clássica


<class 'numpy.int64'>
idade: 10

In [19]:
familia_teste = {}
familia_teste['Nome'] = ['Pauline', 'Fabiane', 'Paulo']
familia_teste['Idade'] = [45]
familia_teste['Idade'].append(45)
familia_teste['Idade'].append(10)
familia_teste

{'Nome': ['Pauline', 'Fabiane', 'Paulo'], 'Idade': [45, 45, 10]}

In [ ]:
familia_df2.loc[familia_df2['Nome'] == 'Pauline', 'Idade']

In [ ]:
x = np.random.normal(0, 1, 100)

In [ ]:
import os
print(os.getcwd())

In [ ]:
dados = pd.read_parquet(r"C:\Users\pftbm\Notebooks\titanic.parquet")

In [ ]:
idade_max = max(dados['Age'])
dados.loc[dados['Age'] < 10]

In [ ]:
cont_letras = {
    'a': [0],
    'b' : [0]
}

cont_letras['a'].append(1)
cont_letras['a'].append(2)
cont_letras['a'].append(3)
cont_letras['a'].append(4)

print(cont_letras['a'])
cont_letras['a'].pop()
(cont_letras['a'])

In [ ]:
a = np.zeros(10)
a[4] = 2.3
a

In [ ]:
br_holidays = holidays.Brazil(years=2025, subdiv='AL')

for data, nome in br_holidays.items():
    print(f"{nome}: {data}")

print(type(br_holidays))

In [ ]:
datas = pd.date_range('2025-10-01', '2025-10-15')
print(type(datas))
dias_uteis = datas[datas.day_of_week < 5]
print((dias_uteis))

In [ ]:
a = set([1 ,2, 3])
b = set([i for i in range(10)])
b - a

In [21]:
data = pd.read_excel(r'C:\Users\pftbm\OneDrive - bnb.gov.br\Convergente\Revisão da produtividade\Dados\Cronos out 2025\data_dias_efetivos_filtro - urbana.xlsx')

In [22]:
data.columns

Index(['SIST', '*', 'CEST', 'ÁREA', 'RESP. TÉCNICO', 'ATIVIDADE',
       'TIPO SOLICITAÇÃO', 'STATUS', 'SICAD', 'CLIENTE', 'CÓD.ATV.',
       'SOLICITAÇÃO', 'ALOCAÇÃO', 'DEVOLUÇÃO', 'PRIM. ENCERR.', 'CONCLUSÃO',
       'ANÁLISES', 'DEVOLUÇÕES', 'PRAZO CST P.ENC. DU',
       'PRAZO TOTAL P.ENC. DU', 'P.A.', 'PRAZO CST DU', 'PRAZO TOTAL DU',
       'PRAZO EXECUÇÃO DD', 'NORM.', 'VALOR DE REFERÊNCIA', 'PPs', 'AG.',
       'UNIDADE, UF', 'MIGRADO SIAT', 'MUNICÍPIO(S)', 'CARTEIRA', 'PORTE',
       'SEGMENTO', 'dias efetivos', 'dias efetivos novo', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

In [34]:
def calcular_numero_de_avaliacoes_por_municipio(df_municipio_data):
    result_cont = []
    contagem = {}
    
    for municipio in df_municipio_data['MUNICÍPIO(S)']:
        if municipio not in contagem:
            contagem[municipio] = 0
        else:
            contagem[municipio] += 1

        result_cont.append(contagem[municipio])
    
    return result_cont

def calcular_numero_de_avaliacoes_por_municipio_periodo(df_municipio_data, intervalo=2):
    result_cont = []
    contagem = {}
    
    for i, linha in df_municipio_data.iterrows():
        municipio = linha['MUNICÍPIO(S)']
        conclusao = linha['CONCLUSÃO']
        limite = conclusao - pd.DateOffset(years=intervalo)

        if municipio not in contagem:
            contagem[municipio] = [conclusao]
        else:
            datas = contagem[municipio]
            datas_filtradas = [d for d in datas if d >= limite]
            contagem[municipio] = datas_filtradas
            contagem[municipio].append(conclusao)

        result_cont.append(len(contagem[municipio])-1 )

    
    return result_cont

In [35]:
df_municipio_data = data[['MUNICÍPIO(S)', 'CONCLUSÃO']].copy()
df_municipio_data['id'] = [(i+1) for i in range(len(df_municipio_data))]
df_municipio_data_sorted = df_municipio_data.sort_values(by=['CONCLUSÃO'], ascending=[True]).copy()
df_municipio_data_sorted['num_avaliacoes'] = calcular_numero_de_avaliacoes_por_municipio(df_municipio_data_sorted)
df_municipio_data_sorted['num_avaliacoes periodo'] = calcular_numero_de_avaliacoes_por_municipio_periodo(df_municipio_data_sorted)
#voltando à ordem original
df_municipio_data_sorted.sort_values(by=['id'], ascending=[True], inplace=True)

2025-10-08 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
[Timestamp('2022-09-29 00:00:00'), Timestamp('2024-08-15 00:00:00'), Timestamp('2024-08-15 00:00:00'), Timestamp('2024-08-16 00:00:00'), Timestamp('2024-08-22 00:00:00'), Timestamp('2025-02-21 00:00:00'), Timestamp('2025-03-11 00:00:00'), Timestamp('2025-04-14 00:00:00'), Timestamp('2025-04-14 00:00:00'), Timestamp('2025-05-12 00:00:00'), Timestamp('2025-05-14 00:00:00'), Timestamp('2025-05-15 00:00:00'), Timestamp('2025-05-20 00:00:00'), Timestamp('2025-05-26 00:00:00'), Timestamp('2025-05-30 00:00:00'), Timestamp('2025-06-05 00:00:00'), Timestamp('2025-06-09 00:00:00'), Timestamp('2025-06-10 00:00:00'), Timestamp('2025-06-13 00:00:00'), Timestamp('2025-06-23 00:00:00'), Timestamp('2025-06-26 00:00:00'), Timestamp('2025-06-30 00:00:00'), Timestamp('2025-07-04 00:00:00'), Timestamp('2025-07-11 00:00:00'), Timestamp('2025-07-15 00:00:00'), Timestamp('2025-07-25 00:00:00'), Timestamp('2025-07-29 00:00:00'), Timestamp('2025-08-05 00:00:00'), Timestamp('2025-08-06 00:00:00'), Timestamp('2025-08-11 00:00:00'), Timestamp('2025-08-11 00:00:00'), Timestamp('2025-08-12 00:00:00'), Timestamp('2025-08-21 00:00:00'), Timestamp('2025-08-22 00:00:00'), Timestamp('2025-09-05 00:00:00'), Timestamp('2025-09-10 00:00:00'), Timestamp('2025-09-17 00:00:00'), Timestamp('2025-09-30 00:00:00')]

In [29]:
df_municipio_data_sorted.head(20)

,MUNICÍPIO(S),CONCLUSÃO,id,num_avaliacoes,num_avaliacoes periodo
0,NaN,2024-11-26,1,4055,4056
1,ARACAJU/SE,2025-03-13,2,71,72
2,ARACAJU/SE,2025-02-26,3,68,69
3,ARACAJU/SE,2025-02-11,4,66,67
4,BARRA DOS COQUEIROS/SE,2025-01-15,5,1,2
5,ARACAJU/SE,2025-01-10,6,62,63
6,ITABAIANA/SE,2024-11-18,7,0,1
7,NaN,2024-10-04,8,3777,3778
8,ARACAJU/SE,2024-09-10,9,48,49
9,ARACAJU/SE,2024-07-24,10,43,44
10,NaN,2024-07-18,11,3291,3292
11,ESTANCIA/SE,2024-06-28,12,2,3
12,ARACAJU/SE,2024-06-18,13,38,39
13,NaN,2024-06-14,14,3072,3073
14,NaN,2024-06-07,15,3009,3010
15,ARACAJU/SE,2024-04-17,16,29,30
16,ARACAJU/SE,2024-04-09,17,27,28
17,NaN,2024-04-03,18,2578,2579
18,NaN,2024-03-13,19,2438,2439
19,NaN,2024-03-08,20,2406,2407

In [ ]:
data['num_acumulado_avaliacoes'] = df_municipio_data_sorted['num_avaliacoes']

In [ ]:
data.loc[(data['MUNICÍPIO(S)'].notna()), ['MUNICÍPIO(S)', 'CONCLUSÃO', 'num_acumulado_avaliacoes']].tail(5)

In [ ]:
 
with pd.ExcelWriter(r'C:\Users\pftbm\OneDrive - bnb.gov.br\Convergente\Revisão da produtividade\Dados\Cronos out 2025\data_dias_efetivos_filtro - urbana 2.xlsx') as writer:
    data.to_excel(writer)

In [36]:
import pandas as pd

# lista de datas tipo Timestamp
datas = [
    pd.Timestamp('2021-10-15'),
    pd.Timestamp('2022-05-20'),
    pd.Timestamp('2023-08-01'),
    pd.Timestamp('2024-11-10')
]

# nova data que será adicionada
nova_data = pd.Timestamp('2025-10-17')

# define intervalo de 2 anos para trás
limite = nova_data - pd.DateOffset(years=2)

# filtra mantendo só as datas dentro do intervalo de 2 anos
datas_filtradas = [d for d in datas if d >= limite]

# adiciona a nova data
datas_filtradas.append(nova_data)

In [3]:
import pandas as pd

def remover_acentos_coluna(df, coluna):
    # Remove acentos e converte para MAIÚSCULAS os valores de uma coluna de texto em um DataFrame pandas.
    return (
        df[coluna]
        .astype(str)                       # garante tipo string
        .str.normalize('NFD')              # separa acentos
        .str.encode('ascii', 'ignore')     # remove acentos
        .str.decode('utf-8')               # volta para string
        .str.upper()                       # converte para maiúsculas
    )

df = pd.DataFrame({
    'nomes': ['João', 'Mônica', 'José', 'Conceição'],
    'cidade': ['São Paulo', 'Curitiba', 'Belo Horizonte', 'Vitória']
})

df['nomes_sem_acentos'] = remover_acentos_coluna(df, 'nomes')
print(df)

       nomes          cidade nomes_sem_acentos
0       João       São Paulo              JOAO
1     Mônica        Curitiba            MONICA
2       José  Belo Horizonte              JOSE
3  Conceição         Vitória         CONCEICAO

In [23]:
import pandas as pd

df1 = pd.DataFrame({
    'MUNICÍPIO': ['São Paulo', 'São Paulo', 'Curitiba', 'Recife', 'Curitiba'],
    'outro_dado': [10, 20, 15, 12, 18]
})

df2 = pd.DataFrame({
    'NOME/CIDADE': ['São Paulo', 'Curitiba', 'Recife'],
    'POPULAÇÃO': [12300000, 1900000, 1650000],
    'REGIÃO': ['Sudeste', 'Sul', 'Nordeste']
})

df_merged = pd.merge(
    df1,
    df2[['NOME/CIDADE', 'POPULAÇÃO', 'REGIÃO']],  # colunas desejadas
    left_on='MUNICÍPIO',   # nome da coluna no df1
    right_on='NOME/CIDADE', # nome da coluna no df2
    how='left'
)

df_merged

   MUNICÍPIO  outro_dado NOME/CIDADE  POPULAÇÃO    REGIÃO
0  São Paulo          10   São Paulo   12300000   Sudeste
1  São Paulo          20   São Paulo   12300000   Sudeste
2   Curitiba          15    Curitiba    1900000       Sul
3     Recife          12      Recife    1650000  Nordeste
4   Curitiba          18    Curitiba    1900000       Sul

In [11]:
import numpy as np
a = np.array([True, True, True])
~a

array([False, False, False])